.plant-form {
    margin-top: 20px;
}

.plant-recommendations {
    margin-left: 20px;
}

.title-plant-recomm {
    color: #696969;
}

.common-name-recomm {
    font-style: bold;
    color: #696969;
}

.botanical-name-recomm{
   font-style: italic;
   color: #696969;
}

.plant-img-recomm {
    margin-right: 20px;
    margin-bottom: 20px;
}

.plant-library-container {
    float: left;
    padding: 30px;
    align-items: center;
}

.common-name-library {
    overflow-wrap: normal;
}

.plant-image-library {
    align-items: center;
}


